a {
  color: #369;
}
// .note {
//   width: 500px;
//   margin: 50px auto;
//   font-size: 1.1em;
//   color: #333;
//   text-align: justify;
// }
#imageDropArea {
  // border: 2px dashed #ccc;
  border-radius: 20px;
  width: 360px;
  height: 360px;
  // margin: 50px auto;
  // padding: 20px;
  margin: 20px;
}
#imageDropArea.highlight {
  border-color: purple;
}
p {
  margin-top: 0;
}
.my-form {
  margin-bottom: 10px;
}
#gallery {
  margin-top: 20px;
}
#gallery img {
  max-width: 350px;
  max-height: 220px;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle;
}
.button {
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.button:hover {
  background: #ddd;
}
#fileElem {
  display: none;
}